/* @tailwind base; */
@tailwind components;
@tailwind utilities;

#root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  #root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.nav {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav ul{
  display: flex;
  align-items: flex-start;
}

.nav ul li{
  list-style: none;
}

.nav a {
  /* color: #fff; */
  text-decoration: none;
  margin: 0 1rem;
}

/* .li[className="outline-gray"]{
  color: #1bbc53;
} */

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.bgHdr {
    background-image: url("../assets/videos/bgImage-001-man-working.jpg");
    background-position: center center;
    /* background-clip: padding-box; */
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    height: 150vh;
    /* display: flex; */
    /* flex-direction: column;
    justify-content: space-between; */
}  

.container {
  display: flex;
  height: 100vh;
}
.container form{
  /* height: ; */
}
.leftPage {
  width: 50%;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.leftPage .form{
  min-width: 100%;
}

.getStartedButton {
  background-color: orange;;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  margin: 50px;

  &.getStartedButton:hover{
    background-color: rgba(226, 91, 19, 0.9);
    color: white;
    transition: width ease-in-out;
    /* ease-in-out; */
  }
}

.signupButton1, .signupButton2 {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border: 2px transparent;
  border-radius: 0.5rem;
  cursor: pointer;
  margin: 1rem;
  color: #fff;
  background-color: rgba(2, 2, 255, 0.8);
}
.signupButton1{
  margin-right: 2rem;
  background-color: rgb(255, 81, 0);
}

@media (max-width: 1167px) {
  .signupButton1, .signupButton2 {
    width: 80%;
    font-size: 0.9em;
    margin: 0.2rem;
    transition: transform ease-out;
  }
}
.rightPage {
  width: 50%;
  background-color: #ffffff;
}

.form{
  background-color: #333333cf; opacity: 0.9;
  display: flex;
  width: 90%;
  border-radius: 5px;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #555;
  padding: 20px 10px;
  margin: 10px;
  max-width: 100%;
}

.orgForm{
  background-color: darkmagenta;
}

.form input, .form textarea{
  width: 80%;
}

.form input[type="radio"], .form label[for=""]{
  margin-bottom: 0;
  color: red;
  
}


.aboutpage{
  background-color: #0a0a0a;
  height: 150vh;
}

.contactus{
  background-color: rgb(188, 230, 216);
  width: 60%;
  height:50vh;
  margin-bottom: 40px;
}

.contactBtn{
  margin-bottom: 40px;
  color: rgb(30, 30, 205);
  background-color: white;
  border-radius: 3px;
  min-width: 30px;
  font-size: 1.1rem;
  font-weight: 700;
  padding: 5px 6px 5px;
  &.contactBtn:hover{
    background-color: orange;
    color: whitesmoke;
  }
}

.footer {
  background-color: rgba(51, 51, 51, 0.7);
  color: #fff;
  padding: 1rem;
  text-align: center;
  clear: both;
  position: relative;
  margin-top: auto;
}

.log{
  height: 100vh;
}

.login{
  display: flex;
  justify-content: space-between;
  height: 50%;
}
/* /features section/ */
.section-title {
  @apply text-3xl font-bold;
}

.feature-title {
  @apply text-2xl;
}

.feature-description {
  @apply text-lg;
}