@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 1rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.container {
  display: flex;
  height: 100vh;
}

.leftPage {
  width: 50%;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.getStartedButton {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.signupButton {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  margin: 1rem;
}

.rightPage {
  width: 50%;
  background-color: #ffffff;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
  clear: both;
}