

.bg{
    background-image: url("../../../../public/assets/videos/bgImage-001-man-working.jpg");
    background-position: center center;
    /* background-clip: padding-box; */
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    height: 96.5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}  

.rotc{
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}